<header>
  <a id="owc" href="http://otherworldscomics.com/">
    <img id="owc-logo" alt="Weaponry" src="../images/assets/owc.png"/>
  </a>
  <a href="../index.html">
    <img id="logo" alt="Weaponry" src="../images/assets/Weaponry_Logo_p.png"/>
  </a>
  {% include navigation.html %}
</header>

<article>
  <h1>{{ page.title }}</h1>
  {% if page.date %}
    <time>{{ page.date | date_to_string }}</time>
  {% endif %}
  {% if page.author and page.author.website %}
    <p class="byline">By <a title="{{ page.author.name }}" rel="external" href="{{ page.author.website }}">{{ page.author.name }}</a></p>
  {% elsif page.author.website %}
    <p class="byline">By {{ page.author.name }}</p>
  {% endif %}

  {% if page.image %}
  <section id="content-image">
    <a href="../images/{{ page.image }}" target="_blank">
      <img src="../images/{{ page.image }}"/>
    </a>

    <div id="prev_first">
      <a title="Previous Page" rel="prev" class="end_page_link" href="{{ page.prev_url }}">
        <img id="prev_img" src="../images/assets/skull_normal_previous.gif"/>
      </a>
      {% for post in site.categories.chapter1 reversed %}
      {% if forloop.index == 1 %}
        <a title="First Page" href="..{{ post.url }}">
          <img id="first_img" src="../images/assets/bones_normal_first.gif"/>
        </a>
      {% endif %}
      {% endfor %}
    </div>
    <div id="next_last">
      <a title="Next Page" rel="next" href="{{ page.next_url }}">
        <img id="next_img" src="../images/assets/skull_normal_next.gif"/>
      </a>
      {% for post in site.categories.chapter1 %}
      {% if forloop.index == 1 %}
        <a title="Last Page" class="end_page_link" href="..{{ post.url }}">
          <img id="last_img" src="../images/assets/bones_normal_last.gif"/>
        </a>
      {% endif %}
      {% endfor %}
    </div>
  </section>
  {% endif %}

  <section id="content-description">
    {{ content }}
  </section>
</article>

<section>

</section>

<footer>
  
</footer>
