
<nav>
  <ul id="nav-links">
    <li>
      <a title="About" href="http://otherworldscomics.com/otherworlds.html">About</a>
    </li>
    <li>
      <a title="Cast" href="/weaponry/cast.html">Cast</a>
    </li>
    <li class="break">
      <a title="Archives" href="/weaponry/archives.html">Archives</a>
    </li>
    <li>
      <a title="World" href="/weaponry/world.html">World</a>
    </li>
    <li>
      <a title="Lexicon" href="/weaponry/lexicon.html">Lexicon</a>
    </li>
    <li class="break">
      <a title="Art" href="/weaponry/art.html">Art</a>
    </li>
    <li>
      <a title="Home" href="http://otherworldscomics.com/">Home</a>
    </li>
    <li>
      <a title="Links" href="/links.html">Links</a>
    </li>
    <li>
      <a title="Shop" href="http://otherworldscomics.com/shop.html">Shop</a>
    </li>
  </ul>
</nav>
