
body {
  background-color: #F7E9B5;
  background-image: url("../../images/assets/Weaponry_Backdrop_d.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-attachment: fixed;
}

#owc-logo {
  padding: 30px 0 0 30px;;
}

#logo {
  margin-bottom: -80px;
  position: absolute;
  top:0;
}

nav {
  width: 330px;
  position: absolute;
  font-family: 'Metamorphous', cursive;
  font-color: black;
  font-size: 20px;
  right: 144px;
  top: 100px;
}

nav, ul {
  padding: 0;
  margin: 0;
}

nav > ul#nav-links {
  list-style-type: none;
  
}

nav > ul#nav-links > li {
  clear:none;
  display:inline;
  padding-right:30px;
}

nav > ul#nav-links > li > a {
  text-decoration: none;
  color: black;
}

nav > ul#nav-links > li.break {
  clear:right
}

article {
  padding: 0 2em 30px 2em;
  margin: 60px 144px 0 300px;
}

article > h1 {
  background-image: url("../../images/assets/w_title_bg.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Metamorphous', cursive;
  padding: 20px 0 0 40px;
  height: 50px;
}

article > #content-image {
  background-image: url("../../images/assets/w_page_bg.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 40px;
}

article > #content-image > a > img {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 2000px;
  min-width: 400px;
}

article > #content-description {
  margin: 20px 0;
  background-image: url("../../images/assets/w_page_bg.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px;
  text-align: center;
}

ul.pages {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.pages > li {
  display: inline-block;
  clear: none;
  width: 200px;
}

.end_page_link {
  display: block;
  clear: both;
}

#content-image {
  position: relative;
}

#prev_first {
  display: block;
  position: relative;
  float: left;
  left: -180px;
  top: -500px;
  width: 144px;
}

#next_last {
  display: block;
  position: relative;
  float: right;
  right: -180px;
  top: -500px;
  width: 144px;
}

#last_img, #first_img {
  margin-top: -55px;
}


