
body {
  background-color: black;
}

header {
  margin: 0 auto;
  max-width: 1019px
}

#owc-logo {
  padding: 20px 0 0 30px;
  min-width: 50px;
  width: 100%;
  max-width: 100px;
}

#logo {
  position: absolute;
  top:0;
  min-width: 100px;
  width: 100%;
  max-width: 500px;
}


nav {
  font-family: 'Metamorphous', cursive;
  font-size: 20px;
  position: relative;
  bottom: -60px;
}

nav, ul {
  padding-left: 20px;
  margin: 0 auto;
  max-width:950px;
}

nav > ul#nav-links {
  list-style-type: none;
  
}

nav > ul#nav-links > li {
  clear:none;
  display:inline;
  padding-right:30px;
}

nav > ul#nav-links > li > a {
  text-decoration: none;
  color: white;
}

nav > ul#nav-links > li > a:hover {
  color: #ff0000;
}

nav > ul#nav-links > li.break {
  clear:right
}

article {
  margin: 60px auto;
  max-width: 1019px;
  height: 1284px;
  width:100%;
  background-color: #F7E9B5;
  background-image: url("../../images/assets/Weaponry_Backdrop_e.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
}

article > h1 {
  background-image: url("../../images/assets/w_title_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Metamorphous', cursive;
  padding: 20px 40px 0 40px;
  max-width: 650px;
  margin: 0 auto;
  height: 50px;
  text-align: center;
  position: relative;
  top:20px;
}

article > #content-image {
  background-image: url("../../images/assets/w_page_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 40px;
  max-width: 650px;
  margin: 40px auto;
}

article > #content-image > a > img {
  margin: auto;
  display: block;
  width: 100%;
  min-width: 150px;
}

article > #content-description {
  margin: 40px auto;
  background-image: url("../../images/assets/w_page_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 40px;
  max-width: 650px;
  text-align: center;
  font-family: 'Metamorphous', cursive;
}

ul.pages {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.pages > li {
  display: inline-block;
  clear: none;
  width: 200px;
}

.end_page_link {
  display: block;
  clear: both;
}

#content-image {
  position: relative;
}

#prev_first {
  float: left;
  left: -180px;
}

#next_last {
  float: right;
  right: -180px;
}

#last_img, #first_img {
  margin-top: -55px;
}


.page-skull {
  position: relative;
  width: 144px;
  top: -500px;
  display: block;
}
@media all and (max-width: 550px) {
  #logo {
    max-width:300px;
  }
  #owc-logo {
    paddng-top:10px;
    max-width:75px;
  }

  .page-skull {
    display: none;
  }
}
